Repository jujuzitroni/api-art: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --allow-empty-input, prettier --write

.lintstagedrc.json:

{
  "*.js": "eslint --fix --cache",
  "*.css": "stylelint --fix --allow-empty-input",
  "*.{js,css,html,json,md,svg}": "prettier --write"
}

githubpages 2nd try
  docs/assets/index.6854ed80.js
  docs/assets/index.7b9f0744.js
  docs/index.html
  vite.config.js
Due: eslint --fix --cache, prettier --write

githubpages 3rd try
  docs/assets/index.6854ed80.js
  docs/index.html
  vite.config.js
Due: eslint --fix --cache, prettier --write

githubpages 3rd try-part2
  docs/assets/index.896ef532.js
Due: eslint --fix --cache, prettier --write

Create build-gh-pages.yml
  .github/workflows/build-gh-pages.yml
Due: none

Deploying to gh-pages from @ jujuzitroni/api-art@be4816d55cca3d674d8c47a170f26f1f37014726 🚀
  assets/favicon.17e50649.svg
  assets/index.79ce22af.css
  assets/index.896ef532.js
  index.html
Due: eslint --fix --cache, stylelint --fix --allow-empty-input, prettier --write

cleanup and update github action workflow
  .eslintignore
  .github/workflows/build-gh-pages.yml
  .lintstagedrc.json
  .prettierignore
  .stylelintignore
  docs/assets/favicon.17e50649.svg
  docs/assets/index.79ce22af.css
  docs/assets/index.896ef532.js
  docs/index.html
  package.json
  vite.config.js
Due: eslint --fix --cache, stylelint --fix --allow-empty-input, prettier --write

fix typo
  .github/workflows/build-gh-pages.yml
Due: none

💄 Add pointer cursor to button and api info to footer
  main.js
  style.css
Due: eslint --fix --cache, stylelint --fix --allow-empty-input, prettier --write

💄 Fix typo, fix debounce time, remove comments
  main.js
Due: eslint --fix --cache, prettier --write

Deploying to gh-pages from @ jujuzitroni/api-art@48aa3dcfd840c2b3ec3c6b0f45b083c8591b1209 🚀
  assets/index.7784a0bf.css
  assets/index.79ce22af.css
  assets/index.896ef532.js
  assets/index.927050dc.js
  index.html
Due: eslint --fix --cache, stylelint --fix --allow-empty-input, prettier --write
